.main {
  text-align: center;
  margin: 4% 30% 0% 30%;
  background:tan;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
}
.Todo{
  background-color: brown;
  border-radius: 10px;

}

.main h3{
color: #FF7F50;
font-size: 35px;
}
.todolist{
  border: 1px solid black;
  width: 100%;
  background-color:salmon;
  height: 30px;
  padding-left: 5px;
  padding-top: 5px;
  border-radius: 15px ;
  margin: 15px 0px;
  color: white;
  border: none;
}



/* .first{
  margin: 0% 30% 0% 30%;
  background:linear-gradient(60deg,rgb(15, 129, 145),rgb(59, 110, 104));
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
} */
.TodoInput{
  width:100%;
}
.TodoInput input {
 text-align:center;
height:30px ;
border:none;
background-color:transparent;
font-size: 20px;
font-weight: 500;
width:60%;
border-bottom: 2px solid #858585;
}
.TodoInput button{
  min-height:40px;
  width:40px;
  border-radius:50%;
  background-color: hotpink;
  border-color: #856685;
  color:white;
  font-size: 15px;
  border:none;
  outline:none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}
.TodoInput button:hover{
  background-color: green;
}
.checkbox{
  float: left;
}
  
  
  

